#nav{bottom:136px;}

#ads{
    background: rgba(0,0,0,.2)!important;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.7);
    position: absolute;
    height: 80px;
    left: 22px;
    bottom: 27px;
    width: 220px;
    padding: 0 5px;
    border-radius: 5px;
    display: block!important;
}

#ads #closeAdsMsg{
    float:right;
    height:12px;
    width:12px;
    background: url(http://www.readict.com/promotion/images/icon-close.png) 0 0 no-repeat;
    margin-top:5px;
    cursor: pointer;
}
#ads #closeAdsMsg:hover{
    background-position: -12px 0;
}

#ads .msgItem a{
    display: block;
    font-size: 12px;
    color: #303030;
    line-height: 18px;
    padding-left: 55px;
    font-weight: normal;
    text-decoration: none;
    background-position: 0 0;
    background-repeat: no-repeat;
    min-height: 50px;
}

#ads .msgItem a strong{
    font-weight: bold;
    display: block;
}
#ads h4{
    font-size: 12px;
    font-weight: bold;
    color: white;
}


#ads #appSearchO a{
    background-image: url(../images/searcho48.png);
}

#ads  .msgItem a:hover{
    color: black;
    text-decoration: underline;
}
